body {
  background-color: bisque;
  margin: 4rem;
  display: block;
  align-items: center;
}

h1 {
  text-align: center;
  color: maroon;
}
button {
  background-color: maroon;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}
